.backcolor {
	background-color: red;
}

* {
	/* Make width/height include paging, margin and border or all elements */
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;/*'Pacifico', cursive;*/
    cursor: auto;
    
}

p, h1, h2, h3, h4, h5, span {
	color: #eef0eb;
}

/* Style for whole body **************************************************************************/

body {
/* 	font-family: 'Permanent Marker', cursive; */
    padding: 10px;
    background: #160b11;
/*     color: #eef0eb; */
}



.link {
	cursor: pointer;
}

/* Styles for header *****************************************************************************/

.header {
    padding: 20px;
    text-align: center;
/*     background: #a3a380; */   
}

.header h1 {
    font-size: 80px;
/*     color: #eef0eb; */
}


/* Styles for footer *****************************************************************************/

/* Footer */
.footer {
    padding: 10px;
    text-align: center;
/* 	background: #13090f; */
    margin-top: 10px;
}

.footer h5, .footer p {
/* 	color: #eef0eb; */
}




/* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }



/* Styles for navbar *****************************************************************************/

.navbar-brand {
	cursor: default;
}

.navbar button {
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;
}

.navbar a {
	cursor: pointer;
}

/* Styles for carousel *****************************************************************************/


.imgCarouselDiv {	
	width: 900px;
	height: 600px;
	
}

.carousel-inner h5, .carousel-inner h5 {	
/* 	color: #eef0eb; */
}

.imgCarouselDiv img {
/* 	cursor: pointer; */
}

/* Styles for gallery *****************************************************************************/

/* Card version */

.card {
	width: 300px;
}

.cardImageDiv {	
	height: 200px;
	width: 300px;
}

.cardImageDiv img {
	max-height: 100%;
	width: auto;
}

.cardContent {
	cursor: pointer;
	text-decoration : none;
	text-align: center;
	color: #160b11;
}

/* Styles for image *****************************************************************************/

.imgDisplayFullDiv {
	width: 1500px;
	height: 800px;
}

.imgPopupDiv span {
	cursor: default;
	color: green;
}


/* Styles for users / models *****************************************************************************/

.user {
	color: #eef0eb;
}

.txtToCenter {
	text-align: center;
}

.user-list, .model-list{
	list-style: none;
}

.user-list li, .model-list li {
 	display: flex; 
/* 	justify-content: space-between; */
	margin: 1rem;
	padding: 1rem;
	border: 2px #eef0eb solid;
	border-radius: 10px;
}


/* Styles for icon *******************************************************************************/

/* /* enable absolute positioning */ */
/* .inner-addon {  */
/*     position: relative;  */
/* } */

/* /* style icon */ */
/* .inner-addon .glyphicon { */
/*   position: absolute; */
/*   padding: 10px; */
/*   pointer-events: none; */
/* } */

/* /* align icon */ */
/* .left-addon .glyphicon  { left:  0px;} */
/* .right-addon .glyphicon { right: 0px;} */

/* /* add padding  */ */
/* .left-addon input  { padding-left:  30px; } */
/* .right-addon input { padding-right: 30px; } */


